@media (min-width:600px) and (max-width:1200px){
#tituloprincipal{
                text-align: center;
                }
#parrafo1{
        width: 30%;
        float: left;
        }
#parrafo2{
        width: 70%;
        float: left;
        }
#parrafo3{
        width: 70%;
        float: right;
        }
#texto1{
       width: 30%;
       float: left;
       }
#texto2{
       width: 35%;
       float: left;
       }
#texto3{
       width: 31%;
       float: left;
}
}

@media (min-width:1200px){
#tituloprincipal{
                text-align: center;
               }
#parrafo1{
        width: 22%;
        float: left;
    }
#parrafo2{
        width: 28%;
        float: left;
    }
#parrafo3{
        width: 30%;
        float: left;
    }
}

